extends ../common/layout

block header
  nav(role='navigation').navbar.navbar-default.fixed.top
    .container
      .navbar-header
        button(type='button', data-toggle='collapse', data-target='.navbar-main-collapse').navbar-toggle
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand My Site
      .collapse.navbar-collapse.navbar-main-collapse
        ul.nav.navbar-nav.navbar-right
          li.active: a(href='/') Home
          li: a(href='/admin', target='_self') Admin

block content
  .container
    div(ng-view)