extends ../common/layout

block headerScripts
  link(rel='stylesheet', type='text/css', href='/public/css/login.css')

block content
  div#loginbox.panel
    h1 Login
    form(action='/admin/login', method='post')
      div.row
        .column.col-12
          input.ui.input(type='text', name='username', placeholder='Username')
      div.row
        .column.col-12
          input.ui.input(type='password', name='password', placeholder='Password')
      div.row
        .column.col-12
          input.ui.button.blue.pull-right(type='submit', value='Log In')
          a.ui.link.red.pull-right(href='/') cancel