@mixin at2x($image_name, $extension, $w: auto, $h: auto) {
  background-image: url($image_name + $extension);
  $x2img : $image_name + '@2x' + $extension;

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) {
    background-image: url($x2img);
    background-size: $w $h;
  }
}

@media screen and (min-width:500px) {
  .my-class {
    @include at2x('../images/image_test','.jpg', auto, auto);
  }
}


// ngProgress styles
#ngProgress-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  body.f-topbar-fixed & {
    top: 45px;
  }

  // override js-set styles
  #ngProgress {
    $color: #008cba;
    color: $color !important;
    background-color: $color !important;
    height: 4px !important;
    transition: width 0.2s;
  }
}